* {
  margin: 0;
  padding: 0;
  font-family: minion-pro;
  margin: 0px;
  padding: 0px;
}

html {
  background-color: black;
  overflow-x: hidden;

}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.logo a {
  color: black;
  text-decoration: none;
  font-size: 30px;
}

.logo {
  margin-top: 5px;
  height: 30px;
  width: auto;
  position: absolute;
}

.GlowColor {
  color: #ffdd87;
  text-shadow: 1px 1px 10px #ffdd87;

}

.text p a {
  color: black;
}




.projectTitle {
  /* padding-top: 5% ; */

  /* padding-bottom: 5% ; */
  /* text-align: left;
  position: absolute;
  bottom: 20px;
  left: 20px; */
  /* font-family: 'franklin-gothic-urw'; */
  /* margin-top: -70px; */
  font-family: 'Merriweather', serif;
    font-size: 8vw;
  /* transform: skewY(-10deg); */
  line-height: 12vw;
  font-weight: bolder;
  letter-spacing: 4px;
  word-spacing: -8px;
  color: #FBC5C5;
  
  text-shadow:
    -1px -1px 0 #2300d0,
  
    -2px -2px 0 #F7E2D6,
    -3px -3px 0 white
}

#projectTitleDiv {
  background-color: #645CBB;
  /* background: radial-gradient(600px at 50% 50% , #fff 20%, #ddadcf 150%); */
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

#projectTitleDiv {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Exo', sans-serif;
}


.context {
  width: 100%;
  position: absolute;
  top: 50vh;

}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}


.area {
  background: #645CBB;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 95vh;


}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

#letterfromed .text {
  padding-top: 2%;
  width: 70%;
  margin: auto;

}

.info blurb {
  font-weight:none !important;
}
.info a {
  font-weight: bold;
}

.info a:hover {
  text-decoration: underline;
}


.info .text {
  width: 70%;
  margin: auto;
  font-family: 'minion-pro';
}

.info p {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 26px;
}


.info .media-embed {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}


/* #Tierra-y-memoria .headline{
  font-family: 'franklin-gothic-urw';

} */

.article-box img {
  width: 40%;
  align-self: flex-start;

}

#credits {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;

}

.info.article-box a {
  color: white !important;
}

.info a {
  color: white;
  text-decoration: none;
}

#offerings-by-numbers a {
  color: yellow;

}

.article-box {
  display: flex;
  padding: 5% 5% 5% 5%;
  background-color: #001209;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 9px;
  opacity: 30%;

}

.intro-box {
  text-align: center;
  margin: auto;
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-box-spacer {
  width: 50px;
}

.article-box-headline {
  /* line-height: 15px; */
  padding-bottom: 10px;
}

.info h1 {
  padding-bottom: 30px;
}

.info .headline {
  font-size: 60px;
  line-height: 60px;
  padding-bottom: 25px;
}

.info .overline {
  font-family: 'franklin-gothic-urw';
  padding-bottom: 0%;
  padding-top: 5vh;

}

.intro-box {
  display: flex;
}

.intro-box .img-wrapper {
  width: 70%;
}

.intro-box img {
  width: 100%;
}

#letterfromed .overline {
  padding-top: 0vh !important;
}

.info .overline-box {
  font-family: 'franklin-gothic-urw';
  padding-bottom: 0%;

}

.article-box .headline {
  font-size: 40px;
  padding-bottom: 10px;

}

.info .caption {
  text-align: right;
  /* font-family: 'franklin-gothic-urw'; */
  font-size: 15px;
  line-height: 20px;
}

.info .caption-left {
  text-align: left;
}



.section {
  min-height: 50vh;
  background-color: black;


}

#slide {
  position: absolute;
  left: -100%;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide 0.5s forwards;
  animation-delay: 0.5s;
}

#slide2 {
  position: absolute;
  left: -100%;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide 0.5s forwards;
  animation-delay: 0.9s;
}

#slide3 {
  position: absolute;
  left: -100%;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide 0.5s forwards;
  animation-delay: 1.3s;
}

h2 {
  font-size: 120px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;
}

h2:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}


@-webkit-keyframes slide {
  100% {
    left: 5%;
  }
}

#introduction {
  background-color: #e5eaf5;
  color: white;

}

#map {
  background-color: #377D71;
  display: flex;
  height: 900px;
}
.map-align {
  border: 20px solid;
  border-color: #377D71;
  display: flex;
  justify-content: center;
  }
#explore {
  background-color: #ADDDD0;
  color: white;
 

}

@keyframes slide {
  100% {
    left: 5%;
  }
}

.mobileTitle {
  display: none;
}

@media only screen and (max-width: 980px) {
  .projectTitle {
    position: static;
    text-align: center;
    margin: auto;
    padding-top: 5vh;
    margin-bottom: -200vh;
  }

  .mobileTitle {
    display: block;

  }
  .area {
    background: #645CBB;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 30vh;
  
  
  }
  .circles {
    display:none;
    position: absolute;
    top: 40vh;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
  
  }
  
  .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  
  
  .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }
  
  .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }
  
  .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }
  
  .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  #slide,
  #slide2,
  #slide3 {
    display: none;
  }

  #issue {
    line-height: -300px;
  }

  .article-box {
    flex-direction: column;
  }

  .article-box img {
    width: 100%;
    height: auto;
    order: 5;
  }


  .absolute-bg {
    position: relative;
  }

  .gallery-cell {
    width: 100% !important;
    /* full width */
  }

  .info .headline {

    line-height: 33px;
    font-size: 30px !important;
  }

  .intro-box {
    flex-direction: column;
  }

  .intro-box .img-wrapper {
    width: 100%;
  }

  .intro-box img {
    width: 100%;
  }

  .info .text {
    width: 85%;
  }

  .interview-box {
    flex-direction: column;
  }

  .interview-box .img-container {
    width: 100%;
  }

  .interview-box .interview-text {
    width: 100%;
  }

  .section {
    min-height: fit-content;
  }




  #explore .headline {
    color: white;
  }

}




/* Cool font from Google Fonts! */
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}